body {
    background-image: url(./img/test-landing-id3\ 1.jpg);
    position: absolute;  
    width: 100%;
}

main {
    
}

.header { 
    display: flex;
    justify-content: space-between;
     
}

.texto {
    color: white;
}

.logo-esat {
    height: 50px; 
    margin-top: 20px;   
    margin-left: 20px;
}

.logo {
    margin-right: 30px;
}




















