
img {   
position: absolute;
width: 1920px;
height: 1080px;
left: 0px;
top: 0px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45))
};

h1 {
    position: absolute;
    color: white;
}






